<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
  -->
<configuration>
  <appSettings>
    <add key="CustomerId" value="tx_r3" />
    <add key="customer_name" value="Region 3" />
    <add key="database.activeserver" value="dev" />
    <add key="escWorksReportServer" value="http://reports.escworks.net/reports/" />
    <add key="CustomerHostUrl" value="http://www.escweb.net/tx_r3/" />
    <add key="SSOPortal" value="http://www.escweb.net/SSOPortal/" />
    <add key="menu.timeout" value="20" />
    <add key="pagetitle.cartname" value="Registration Cart:" />
    <add key="session.DaysToDisplayPastWorkshops" value="3" />
    <add key="config.haswaitinglist" value="true" />
    <add key="session.regEndHours" value="-1" />
    <add key="session.cancellationEndHours" value="48" />
    <add key="system.HasWaitingList" value="true" />
    <add key="calendar.showonlyfirstdate" value="true" />
    <add key="payment.paidStatus" value="Received" />
    <add key="payment.initialStatus" value="Pending" />
    <add key="escWorksSupport" value="escWorksSupport@esc4.net" />
    <add key="OnDemandMerchantPartner" value="PayPal" />
    <add key="OnDemandMerchantVendor" value="ondemand" />
    <add key="OnDemandMerchantUser" value="escweb" />
    <add key="OnDemandMerchantUserPwd" value="fr33dom" />
    <add key="global.transactionserver.MerchantPartner" value="PayPal" />
    <add key="global.transactionserver.merchantid" value="region3" />
    <add key="global.transactionserver.username" value="escWorks4" />
    <add key="global.transactionserver.password" value="@Region#4" />
    <add key="global.transactionserver.test" value="pilot-payflowpro.paypal.com" />
    <add key="global.transactionserver.live" value="payflowpro.paypal.com" />
    <add key="global.transactionserver.testingOn" value="true" />
    <add key="catalog.browse.subject" value="true" />
    <add key="catalog.browse.audience" value="true" />
    <add key="catalog.browse.location" value="false" />
    <add key="fiscalyear" value="9/1/2000" />
    <add key="masterfile" value="~/masterpage.master" />
    <add key="debugging.sendbccemails" value="true" />
    <add key="Smtp_Server" value="R04houech01a.regioniv.esc4.net" />
    <add key="Mail.From" value="messenger@esclive.net" />
    <add key="noEvalID" value="1010" />
    <add key="evaluation.expiration" value="15" />
    <add key="evaluation.professionalDevelopment.form" value="Professional Development Evaluation" />
    <add key="evaluation.professionalDevelopment.form_ID" value="39697" />
    <add key="eval.ShowCertAfterEvalExpires" value="true" />
    <add key="customer.objectmodel.assemblyname" value="App_Code" />
    <add key="config.userTrackingPollingInterval" value="25" />
    <add key="config.NumOfUpcomingEventsToDisplay" value="7" />
    <add key="config.NumOfDaysUpcomingEventsToDisplay" value="8" />
    <add key="calendar.numberOfEventsToShow" value="3" />
    <add key="eventTypesToNotDisplay" value="31|0" />
    <add key="report.signinsheet" value="304" />
    <add key="report.officialtranscript" value="103" />
    <add key="report.personaltranscript" value="104" />
    <add key="report.certificate" value="306" />
    <add key="config.limitSessionsToOrg" value="false" />
    <add key="config.limitSessionOrgs" value="1000|2" />
    <add key="customer.paymentContact" value="Registration Services" />
    <add key="customer.address" value="1905 Leary Lane" />
    <add key="customer.city" value="Victoria" />
    <add key="customer.state" value="TX" />
    <add key="customer.zip" value="77901" />
    <add key="config.pagerequestbuffersize" value="5" />
    <add key="config.sendpaymentvoucheremails" value="true" />
    <add key="creditcardrefundenabled" value="true" />
    <!--added shaikh-->
    <add key="Report.PaymentVoucher.DatasourceID" value="83" />
    <add key="Report.PaymountVoucher.ReportID" value="1006" />
    <!-- Scorm where to store video files  -->
    <add key="packageStoreDirectoryPath" value="\\r04houewp80a\ITS\Video2\SCORM\PROD\" />
    <!--escWorks Admin-->
    <add key="IO_Server" value="R04HOUSWB01A" />
    <add key="IO_Share" value="xml_store" />
    <add key="IO_Domain" value="regioniv" />
    <add key="IO_Username" value="c3Zjc3Fs" />
    <add key="IO_Password" value="UmVnaW9uNA==" />
    <add key="Settings_Engines" value="config\__escworks.engines.config" />
    <add key="escWorks_System_Database" value="escworks.system" />
    <add key="Region4SessionDirectoryPath" value="//R04HOUSWB01A\ScormFileFolder/" />
    <!--Accountability-->
    <add key="accountability.timelength" value="64" />
    <add key="accountability.contactmethod" value="1111" />
    <add key="accountability.activity" value="63" />
    <add key="accountability.tec" value="1113" />
    <add key="accountability.audience" value="1112" />
    <add key="accountability.content" value="1123" />
    <add key="accountability.report.summaryreport" value="1015" />
    <add key="accountability.report.timesheet" value="1014" />
    <add key="accountability.district.campus.identifiers" value="1366|1367|1368|1369|1370|1371|1372|1373" />
    <add key="accountability.show.audiences.items" value="1237" />
    <add key="accountability.increase.student.performance" value="3000" />
    <add key="accountability.post.secondary.credit" value="3001" />
    <add key="accountability.financial.integrity" value="3002" />
    <add key="accountability.activity.leave" value="1453" />
    <add key="accountability.activity.ta" value="1237" />
    <add key="accountability.contactmethod.internal" value="1346" />
    <add key="FaceToFaceTypeID" value="1365" />
    <add key="conferenceTypeID" value="30" />
    <add key="onlineTypeID" value="32" />
    <add key="session.ammount.applyTorefund" value="35" />
    <add key="StaffPositionGroupId" value="1129" />
    <!-- Net3 -->
    <add key="Net3EventTypeId" value="1360" />
    <add key="Net3StudentEventTypeId" value="80111" />
    <add key="chromeversion" value="47" />
    <add key="ieversion" value="10" />
    <add key="user.specialneeds.group" value="3016" />
    <add key="user.specialneeds.other" value="6272" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="4F08C88A420A9625BDE962600A5696CDAC5A0F72FFCF7E4DF290AEE56427B29C20B2984D0A92728CB7BF4D62EBCC80694E3EBF18083AA385C78EC1734FA73720" decryptionKey="33768B3D4D7EB24A952991BA2FF80BA5114338CC43F7017A9C6E8503BE21C779" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="escWorks" namespace="region4.escWeb.SiteObjects" assembly="escWebBase" />
        <add tagPrefix="escWorks" namespace="region4.WebControls" assembly="escWebBase" />
        <add tagPrefix="csla" namespace="Csla.Web" assembly="Csla" />
      </controls>
    </pages>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="AjaxControlToolkit, Version=1.0.10920.23767, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <trace enabled="false" localOnly="true" pageOutput="true" requestLimit="50" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/security/signin.aspx" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off" />
    <!--<identity impersonate="true" password="Lminkee04#" userName="regioniv\svcSQL2"/>-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="server=.; integrated security=true;" sqlCommandTimeout="30"/>-->
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="FramesetContentModule" type="Microsoft.LearningComponents.Frameset.FramesetModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="messenger@esclive.net">
        <network host="mail.esclive.net" password="1magine" userName="svcSql" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.1111.45" newVersion="2015.3.1111.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>