<?xml version="1.0" encoding="utf-8"?>                                                                                                                                              
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Useesc
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config
  -->
<configuration>
  <appSettings>
    
    
    <add key="CustomerId" value="ar_esc" />
    <add key="CustomerSiteId" value="ar_esc" />
    <!--<add key="CustomerId" value="ar_ade" />
    <add key="CustomerSiteId" value="ar_ade" />-->

    <add key="CustomerHostUrl" value="https://dev-www.escweb.net/ar_esc/" />
    <!--<add key="CustomerHostUrl" value="https://dev-www.escweb.net/ar_ade/" />-->
    
    <add key="ar_customer_id" value="ar_esc|ar_ade" />
    <add key="customer_name" value="Arkansas Education Service Cooperative" />
    <add key="ar_customer_url" value="ar_esc:www.escweb.net/ar_esc|ar_ade:www.escweb.net/ar_ade" />
    <add key="ar_customer_phone" value="ar_esc:111-111-1111|ar_ade:000-000-0000" />
    <add key="database.activeserver" value="dev" />
   
    <add key="escWebReportServer" value="https://reports.escweb.net/reports/" />
    <add key="escWorksReportServer" value="https://reports.escworks.net/reports/" />
    
    <add key="SSOPortal" value="https://www.escweb.net/SSOPortal/" />
        
    
    
    
    <add key="menu.timeout" value="20" />
    <add key="ShoppingCartImageAvail" value="true" />
    <!--<add key="pagetitle.cartname" value="Registration Cart:"/>-->
    <add key="session.DaysToDisplayPastWorkshops" value="3" />
    <add key="config.haswaitinglist" value="true" />
    <add key="session.regEndHours" value="-1" />
    <add key="session.cancellationEndHours" value="-24" />
    <!-- <add key="session.cancellationEndHours" value="-48"/> -->
    <add key="system.HasWaitingList" value="true" />
    <add key="calendar.showonlyfirstdate" value="true" />
    <add key="payment.paidStatus" value="Received" />
    <add key="payment.initialStatus" value="Pending" />
    <add key="escWorksSupport" value="escWorksSupport@esc4.net" />
    <add key="OnDemandMerchantPartner" value="PayPal" />
    <add key="OnDemandMerchantVendor" value="ondemand" />
    <add key="OnDemandMerchantUser" value="escweb" />
    <add key="OnDemandMerchantUserPwd" value="fr33dom" />
    <add key="global.transactionserver.MerchantPartner" value="VeriSign" />
    <add key="global.transactionserver.merchantid" value="escworks" />
    <add key="global.transactionserver.username" value="escweb" />
    <add key="global.transactionserver.password" value="fr33dom" />
    <add key="global.transactionserver.test" value="pilot-payflowpro.paypal.com" />
    <add key="global.transactionserver.live" value="payflowpro.paypal.com" />
    <add key="global.transactionserver.testingOn" value="true" />
    <add key="catalog.browse.subject" value="true" />
    <add key="catalog.browse.audience" value="true" />
    <add key="catalog.browse.location" value="false" />
    <add key="fiscalyear" value="6/1/2000" />
    <add key="masterfile" value="~/masterpage.master" />
    <add key="debugging.sendbccemails" value="true" />
    <add key="Smtp_Server" value="R04houech01a.regioniv.esc4.net" />
    <add key="Mail.From" value="messenger@esclive.net" />
    <add key="noEvalID" value="1010" />
    <add key="evaluation.expiration" value="120" />
    <add key="eval.ShowCertAfterEvalExpires" value="true" />
    <add key="customer.objectmodel.assemblyname" value="App_Code" />
    <add key="config.userTrackingPollingInterval" value="25" />
    <add key="config.NumOfUpcomingEventsToDisplay" value="10" />
    <add key="config.NumOfDaysUpcomingEventsToDisplay" value="8" />
    <add key="calendar.numberOfEventsToShow" value="3" />
    <add key="eventTypesToNotDisplay" value="31|0" />
    <add key="report.signinsheet" value="304" />
    
    <add key="report.officialtranscript" value="103" />
    <add key="report.personaltranscript" value="104" />
    
    <add key="report.certificate" value="128" />
    <add key="config.limitSessionsToOrg" value="false" />
    <add key="config.limitSessionOrgs" value="1000|2" />
    <add key="customer.paymentContact" value="Registration Services" />
    <add key="customer.address" value="" />
    <add key="customer.city" value="" />
    <add key="customer.state" value="" />
    <add key="customer.zip" value="" />
    <add key="config.pagerequestbuffersize" value="5" />
    <add key="config.sendpaymentvoucheremails" value="true" />
    <add key="creditcardrefundenabled" value="true" />
    <add key="states" value="1125" />
    <!--added shaikh-->
    <add key="Report.PaymentVoucher.DatasourceID" value="83" />
    <add key="Report.PaymountVoucher.ReportID" value="1006" />
    <!-- Scorm where to store video files  -->
    <add key="packageStoreDirectoryPath" value="\\r04houswb01a\Scorm\" />
    <add key="FaceToFaceTypeID" value="1|2|100|101|114|206" />
    <add key="conferenceTypeID" value="1402" />
    <add key="PositionGroupId" value="14" />
    <add key="CreditTypeGroupId" value="7" />
    <add key="CategoryGroupId" value="23" />
    <!--Accountability-->
    <add key="accountability.timelength" value="64" />
    <add key="accountability.contactmethod" value="63" />
    <add key="accountability.activity" value="1006" />
    <add key="accountability.tec" value="1008" />
    <add key="accountability.audience" value="1007" />
    <add key="accountability.report.summaryreport" value="1015" />
    <add key="accountability.report.timesheet" value="1014" />
    <!-- Arch Ford Education Service Cooperative E-Mail -->
    <add key="ARFCOPEmail" value="rebecca.anderson@archford.org;lori.winfrey@archford.org" />
    <add key="ARFCOOPGUID" value="751FF4C0-9272-4F48-A1F2-ABE533EC207E" />
    <!--<add key="ARFCOPEmail" value="shirley.standridge@archford.org"/>
    <add key="ARFCOOPGUID" value="78B51A15-A399-458B-A5FD-238FF3D3E511"/>-->
    <!--<add key="ARFCOPEmail" value="lori.winfrey@archford.org"/>
  <add key="ARFCOOPGUID" value="B671C966-87A4-44AB-A7A4-D8DB8FDCC715"/>-->
    <!-- Arkansas River Education Service Cooperativee E-Mail -->
    <add key="ARCOPEmail" value="harrisd@aresc.k12.ar.us;metzs@aresc.k12.ar.us;pyekat@aresc.k12.ar.us;walkerm@aresc.k12.ar.us" />
    <add key="ARCOOPGUID" value="C17A938E-29E9-4EF4-8485-C9886E3934D0" />
    <!-- Crowleys Ridge Educational Cooperative E-Mail -->
    <!--<add key="CRCOPEmail" value="mswanson@crmail.k12.ar.us"/>-->
    <add key="CRCOPEmail" value="jwebb@crmail.k12.ar.us;lbrown@crmail.k12.ar.us" />
    <add key="CRCOOPGUID" value="2fae8d2e-195a-44c0-8b8c-6e8816f566d3" />
    <!-- Dawson Education Service Cooperative E-Mail -->
    <!--<add key="DWCOPEmail" value="sandraa@dawson.dsc.k12.ar.us;aprils@dawson.dsc.k12.ar.us;meganh@dawson.dsc.k12.ar.us"/>-->
    <add key="DWCOPEmail" value="sandraa@dawsonesc.com;" />
    <add key="DWCOOPGUID" value="d03387a6-9787-4b0b-bfed-1bcbec584d23" />
    <!-- DeQueen/Mena Education Cooperative E-Mail -->
    <add key="DQMCOPEmail" value="crystal.willey@dmesc.org;briana.robinson@dmesc.org" />
    <add key="DQMCOOPGUID" value="8b3bb7bf-233e-4c10-8c1d-4e1e243f6c4a" />
    <!-- Great Rivers Cooperative E-Mail -->
    <add key="GRCOPEmail" value="ncurtright@griver.grsc.k12.ar.us" />
    <add key="GRCOOPGUID" value="0976F8AF-55A5-4272-968B-FD387A5E90E3" />
    <!-- Northcentral Arkansas Education Service Center E-Mail --> 
    <!--<add key="NCACOPEmail" value="jeff.johnston@northcentral.k12.ar.us;bobbie.smith@northcentral.k12.ar.us"/> -->
    <add key="NCACOPEmail" value="bobbie.smith@northcentralcoop.org" />
    <add key="NCACOOPGUID" value="6589C5A7-F115-422B-89A5-A370BC02BF04" />
    <!-- Northeast Arkansas Education Service Center E-Mail -->
    <add key="NEACOPEmail" value="mhorton@nea.k12.ar.us;akoons@nea.k12.ar.us;acarlton@nea.k12.ar.us;bwatson@nea.k12.ar.us" />
    <add key="NEACOOPGUID" value="8D412A7A-D70D-439D-8EC7-75AA05C8E92E" />
    <!-- Ozarks Unlimited Resources Educational Cooperative E-Mail -->
    <add key="OZCOPEmail" value="asooter@oursc.k12.ar.us;ncline@oursc.k12.ar.us" />
    <add key="OZCOOPGUID" value="5C14A135-F6AA-4CDA-951E-E24B08C3768F" />
    <!-- South Central Service Cooperative E-Mial -->
    <add key="SCACOPEmail" value="joann.womack@scscoop.org;anna.warriner@scscoop.org;tyler.linton@scscoop.org" />
    <add key="SCACOOPGUID" value="7699FB65-54CF-4C16-B8A8-6DE1777DB65F" />
    <!-- Southeast Arkansas Education Service Center E-Mail-->
    <add key="SEACOPEmail" value="christy.johnson@searkcoop.com" />
    <add key="SEACOOPGUID" value="D5876016-C5F3-43CE-9650-9301A957924B" />
    <!-- Southwest Arkansas Educational Cooperative E-Mail -->
    <add key="SWACOPEmail" value="david.henderson@swaec.org;monica.morris@swaec.org;robin.applegate@swaec.org" />
    <add key="SWACOOPGUID" value="7C2076FF-00AE-4608-838F-F2D2B57D8FC7" />
    <!-- Wilbur D. Mills Education Service Cooperative E-Mail -->
    <add key="WDMCOPEmail" value="bsingletary@wilbur.k12.ar.us;aquinn@wilbur.k12.ar.us" />
    <add key="WDMCOOPGUID" value="29439ABA-2AA3-4F6B-8593-757ECE7EFCED" />
    <!-- Little Rock School District Group E-Mail -->
    <add key="LRSCOPEmail" value="lloyd.sain@lrsd.org" />
    <add key="LRSCOOPGUID" value="db3b49c9-fc23-4860-be3c-59cd8ca30bc8" />
    <!-- North Little Rock School District Group E-Mail -->
    <add key="NLRCOPEmail" value="ratliffk@nlrsd.org" />
    <add key="NLRCOOPGUID" value="90b6c6c7-a0de-4199-9e6e-3d3830216b7d" />
    <!-- Pulaski County E-Mial -->
    <add key="PCCOPEmail" value="cdailey@pcssd.org" />
    <add key="PCCOOPGUID" value="8F248F09-835F-4E7A-B7ED-9F0D0CF28022" />
    <!-- NORTHWEST EDUCATION SERVICE COOPERATIVE E-Mail -->
    <add key="NWCOPEmail" value="lchavis@starfishnw.org" />
    <add key="NWCOOPGUID" value="B4F2BC35-C115-40F8-B56A-C546D3CB0BAF" />
    <!-- Western Arkansas Cooperative -->
    <add key="WACCOPEmail" value="angela.miller@wscstarfish.com" />
    <add key="WACCOOPGUID" value="D6E3FF1E-70E8-4F2C-B362-30077CA0B63E" />
    <!-- STEM-->
    <add key="stemOrgId" value="238537|238538|238539|238540|238542|238547|238548|238549|238550|238552|238553|238558" />
    <add key="stemContact" value="238537:Cynthia Miller|238538:Julie Grady|238539:Tony Finley|238540:Betty Ramsey|238542:Scott White|238547:Lynne Hehr|238548:Darlynn Cast|238549:Gail Hughes|238550:Wanda jackson|238552:University of Arkansas at Pine Bluff Center for Math/Science Education|238553:Umadevi Garimella|238558:Linda Johnson" />
    <add key="stemAddress" value="238537:P.O. Box 2338|238538:P.O. Box 2338|238539:Box 12254|238540:Box 7663/1100 Henderson Street|238542:P.O. Box 9181|238547:346 N. West Avenue, #202|238548:5210 Grand Avenue/Box 3649|238549:2801 South University|238550:UAM Box 3608, Willard Hall|238552:Mail Slot 4978/1200 North University|238553:201 Donaghey Avenue, 212 Main|238558:Admin Bldg Rm. 206 1509 N. Boulder Ave." />
    <add key="stemCity" value="238537:State University|238538:State University|238539:Searcy|238540:Arkadelphia|238542:Magnolia|238547:Fayetteville|238548:Fort Smith|238549:Little Rock|238550:Monticello|238552:Pine Bluff|238553:Conway|238558:Russellville" />
    <add key="stemState" value="AR" />
    <add key="stemZip" value="238537:72467-2338|238538:72467-2338|238539:72149|238540:71999-0001|238542:71754|238547:72701|238548:72913|238549:72204|238550:71656|238552:71601|238553:72035-5003|238558:72801-2222" />
    <add key="stemCustomerName" value="238537:Arkansas State University - Delta STEM Education Center|238538:Arkansas State University - Rural STEM Education Center|238539:Harding University Center for Mathematics and Science Education|238540:Henderson State University South Arkansas Mathematics and Science STEM Center|238542:Southern Arkansas University Center for Teaching Excellence in Math and Science|238547:University of Arkansas Center for Math and Science Education|238548:University of Arkansas at Fort Smith Institute for Math and Science Education|238549:University of Arkansas at Little Rock Math and Science Education Partnership|238550:University of Arkansas at Monticello UAM STEM Center|238552:University of Arkansas at Pine Bluff Center for Math/Science Education|238553:University of Central Arkansas UCA Institute for STEM Professional Development and Education Research|238558:Arkansas Tech University STEM Center" />
    <add key="chromeversion" value="47" />
    <add key="ieversion" value="10" />
    <add key="ar.siteId" value="ar_esc:-1|ar_ade:12861" />
    <!--- Email UAT-->

    <add key="SMTPUATpass" value="4quartsUT20" />

    <add key="Mail.From.UAT" value="ewu_mail@esc4.net" />

    <!--- Email DEV-->

    <add key="SMTPDEVpass" value="4nickelDV80" />

    <add key="Mail.From.DEV" value="ewd_email@esc4.net" />

  <!-- QlikSense Integration -->
    <add key="qliksense.host" value="qlik.escworks.app" />
    <add key="qliksense.port" value="4243" />
    <add key="qliksense.virtualproxy" value="qsticketprxy" />

  </appSettings>
  
  
  
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="4F08C88A420A9625BDE962600A5696CDAC5A0F72FFCF7E4DF290AEE56427B29C20B2984D0A92728CB7BF4D62EBCC80694E3EBF18083AA385C78EC1734FA73720" decryptionKey="33768B3D4D7EB24A952991BA2FF80BA5114338CC43F7017A9C6E8503BE21C779" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="escWorks" namespace="region4.escWeb.SiteObjects" assembly="escWebBase" />
        <add tagPrefix="escWorks" namespace="region4.WebControls" assembly="escWebBase" />
        <add tagPrefix="csla" namespace="Csla.Web" assembly="Csla" />
      </controls>
    </pages>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version= 4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="AjaxControlToolkit, Version=1.0.10920.23767, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <trace enabled="false" localOnly="true" pageOutput="true" requestLimit="50" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/security/signin.aspx" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/error/error.aspx" />
    <!--<identity impersonate="true" password="Lminkee04#" userName="regioniv\svcSQL2"/>-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="server=.; integrated security=true;" sqlCommandTimeout="30"/>-->
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="messenger@esclive.net">
        <network host="mail.esclive.net" password="1magine" userName="svcSql" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <!-- <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly> -->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.1.215.45" newVersion="2019.1.215.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>